@charset "utf-8";

/*
 * Nome: TicTacToe UI
 *
 * Colori:
 * Fonts: 
 */

/*** STILE GENERALE ***/
/*** LAYOUT ***/
body, html {
	width: 100%;
	height: 100%;
}

body {
	
	font-size: 18px;
	
}

div#main-screen {
	
	
	
}

header, main, footer {
	
}

/* Header */
header {
	
}

/* Main */
div.playfield {
	
	margin-bottom: 15px;
	
}

div.playfield-padding {
	
	padding-left: 15px;
	padding-right: 15px;
	
}

div#playfield-row-0 div.cell {
	
	border-bottom: 3px solid black;
	
}

div#playfield-row-1 div.cell {
	
	border-bottom: 3px solid black;
	
}

div.cell {
	padding: 0;
	overflow: hidden;
}

div.cell:before {
	content: '';
	display: block;
	padding-top: 100%;
}

div.cell div.cell-content {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

div.cell div.cell-content div {
	width: 100%;
	height: 100%;
	display: table;
}

div.cell:nth-child( even ) {

	padding-top: 6px;
	border-left: 3px solid black;
	border-right: 3px solid black;	
	
}

/* Footer */
footer {

}

/*** TYPOGRAPHY ***/
h1, h2, h3, h4, h5, h6 {
	
}

h1 {
	
	
}

header h1 {
	
	margin-top: 10px;	
	
}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

p {

}

address {
	
}

figure {
	
}

time {
	
}

strong, b {
}

em, i {
}

cite, q {
}

blockquote {
	
}

mark {
	
}

ins, u {
}

del {
}

code {
	
}

small {
}

div.cell div.cell-content div span {
	font-size: 48px;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
}

/*** LISTS ***/
ul {

}

ul li {

}

/*** LINKS ***/
a:link, a:visited {

}

a:active {

}

a:hover {

}

/*** INPUTS & FORMS ***/
label {

}

input, textarea {
}

input {

}

textarea {
}

input:focus, textarea:focus {

}

input[type="submit"] {

}

input[type="submit"]:hover {

}

input[type="submit"]:active {

}

/*** IMAGES ***/			
			

/*********************/

/*** MEDIA QUERIES ***/
/* Smartphone landscape */
@media (min-width: 480px) {
	
	/*** LAYOUT ***/
	/* Main */
	div#main-screen {
		
		height: 100%;
		
	}
	
	div.full-height {
		
		height: 100%;
		
	}
	
	div.playfield {
		
		margin-top: 15px;
		margin-bottom: 0;
		
	}
	
	div.playfield-padding {
		
		padding-left: 30px;
		padding-right: 30px;
		
	}
	
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	
	
	
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	
	
	
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	
	
	
}